.picbook .album-title {
  font-size: 1.6em;
  font-weight: 300;
}
.picbook .photo-list {
  padding: 0;
  margin: 0;
}
.picbook .photo-list .photo-list-item {
  list-style-type: none;
  display: inline-block;
}
.picbook .photo-list .photo-list-item .item-thumb {
  cursor: pointer;
  display: block;
  margin: 3px;
  width: 206px;
  height: 206px;
  background-size: cover;
  background-position: 50% 25%;
  transition: all 199ms ease;
  vertical-align: top;
  opacity: .73;
}
.picbook .photo-list .photo-list-item .item-thumb:hover {
  opacity: 1;
}
