$thumb-margin: 3px;
$thumb-width: 206px;
$thumb-height: 206px;

.picbook {

  .album-title {
    transition: opacity 200ms ease;
    font-size: 1.6em;
    font-weight: 300;
  }

  .photo-list {

    padding: 0;
    margin: 0;

    .photo-list-item {

      list-style-type: none;
      display: inline-block;

      .item-thumb {

        cursor: pointer;
        display: block;
        margin: $thumb-margin;
        width: $thumb-width;
        height: $thumb-height;
        background-size: cover;
        background-position: 50% 25%;
        transition: all 199ms ease;
        vertical-align: top;
        opacity: .73;

        &:hover {
          opacity: 1;
        }

      }

    }

  }

}